.host-page {
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    height: 100%;
}

.lobby {
    padding: 3rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 1;
}

.game-name {
    width: fit-content;
    margin: 0;
    padding: 3rem 1rem;
    height: fit-content;
    border-bottom: 1px white solid;
    color: var(--text-h);
    font-size: var(--fs-xl);
}

.players-lobby {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    place-items: center;
    border: 2px var(--accent) dotted;
    border-radius: 5px;
    column-rule: 2px solid black;
    row-rule: 2px solid black;
    width: 100%;
    flex: 1;
    margin: 2rem 0;
}

.btn-disabled {
    filter: brightness(0.75);
}

.btn-disabled:hover {
    cursor: default;
}
